@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
background-color: rgb(247, 183, 111);
    
}
.logo img{
border-radius: 50%;
position:relative;
margin-bottom:50px;
margin-left:10px;
}
.letter
{
position:absolute;
top:60px;
left:10%;
letter-spacing: 5px;
}
.letter h1{
  font-size: 50px;
  letter-spacing:5px;
  font-family:'Dancing Script', 'Arial Narrow', Arial, sans-serif;
}
.letter p{
  color: rgb(100, 93, 93);
  position:absolute;
  top:70px;
  text-decoration: underline;
  font-size: 25px;
  font-weight: 800;
  


  
}
.navbar {
	list-style-type: none;
align-items: center;
justify-content: center;
	display: flex;
 margin-top: 90px;
 

 
}
	
.navbar li {
	display: inline;

}

.navbar a {
	text-decoration: none;
	font-family: Cambria, serif;
	font-size: 40px;
	padding:60px 30px ;
	color: #596365;

}

.navbar a:hover {
	text-decoration: none;
	font-family: Cambria, serif;
	font-size: 24px;
	color: #000;
}

.search{
position: absolute;
top:70px;
left: 60%;
align-items: center;
background-color: grey;
padding: 25px 25px;
border-radius: 30px;

}
.searchInput{
    border: none;
    background-color: transparent;
    font-size: 25px;
}
.searchInput::placeholder{
  color: lightgray;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

