@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body{
background-color: rgb(247, 239, 239);
}
.logo h3{
 color: #655243f0;
font-size:70px;
font-weight:50px;
word-spacing: 10px;
letter-spacing: 0.2rem;
font-family: 'Dancing Script';
margin-top:15px;
margin-left: 10px;
}
.logo h4{
  margin-top: -65px;
  margin-left: 10px;
  font-size: 28px;
  color: rgb(205, 107, 41);

}
.vertical{
  border-left: 3px solid rgb(62, 54, 48);
  height: 20px;
  margin-top: -62px;
  margin-left: 277px;
}
.logo h5{
  margin-top: -25px;
  margin-left: 282px;
  font-size: 28px;
  color: rgb(205, 107, 41);
}
.vertical2{
  border-left: 3px solid rgb(62, 54, 48);
  height: 20px;
  margin-top: -73px;
  margin-left: 435px;
  
}

.logo h6{
  font-size: 28px;
  margin-top: -28px;
  margin-left: 445px;
  color: rgb(205, 107, 41);
}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 5px solid #211204;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #593716;
  position: absolute;
  top:-370px;
  left:7%;
}

.searchTerm:focus{
  color: #3f281ad0;
}

.searchButton {
  width: 70px;
  height: 54px;
  border: 1px solid #51321a;
  background: #512912;
  text-align: center;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  opacity: 0.7;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  top:-370px;
  left:100.5%;
}
.searchButton:hover {
  background-color: rgb(79, 53, 25);
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.wrap input{
  font-size: 20px;
}


 #product-listing img{
float: left;
clear: both;
width:420px; 
height:400px;
padding:1px;
margin:15px 20px;
/* -webkit-transition: 1s ease-in-out;
-moz-transition: 1s ease-in-out;
-o-transition: 1s ease-in-out;
transition: 1s ease-in-out;
cursor:pointer; */
}
#product-listing img:hover {
  padding: 5px 5px;
  background-color:#a06868;
  /* -webkit-transform: rotate(360deg) scale(2);
    -moz-transform: rotate(360deg) scale(2);
    -o-transform: rotate(360deg) scale(2);
    -ms-transform: rotate(360deg) scale(2);
    transform: rotate(360deg) scale(2); */
}

#product-listing div{
float:left;
}

#product-listing span{
 font-size: 25px;
 position: relative;
 left:30%;


}
#products-category{
background-color:grey;
height: 100px;
position: relative;
top:0px;

}
#products-category btn{
  float: left;
  display: block;
  clear:none;
position: relative;
top:-10px;
  font-weight:5px solid #655243f0 ;
  border:none;
  border-radius:10px; 
  padding:15px 15px;
  margin: 20px 25px;
  border-top: -50px;
  font-size: 35px;
  cursor: pointer;
} 

#products-category btn:hover {
  padding: 20px 30px;
  background-color:#eaa54c;
  transition: 0.5s;
}


#product-listing h1{
 position: relative;
 top:-20px;
 left:30%;
 
} 


 #product-listing div button{
  font-size: 20px;
 position: relative;
 top:-50px;
 left:25%;
} 

#product-listing button{
  background-color: white;
  border: 2px solid rgb(116, 73, 30);
  color: green;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 30px;
  cursor: pointer;
  text-decoration:none;
 }

 .popup img{
  position:absolute;
  top: -150px;
 left:-150px;
  margin-left: 100px;
  width: 50px;
  padding:10px 10px;
  border: 5px solid #555;
 }
  /* .popup img:hover{
    background-color: #c99374;
  } */
  
 .popup {
  position: relative;
  left:78%;
  top:40px;
  cursor: pointer;
}
.hide {
  display:text;
  
}
.popup img:hover + .hide {
    display: block;
    color: rgb(14, 8, 8);
    position: relative;
    top:-150px;
    left:-90px ;
    font-size: 30px;
    
  } 


.popup .popuptext {
  visibility: hidden;
  width: 1000px;
  height: 1000px;
  font-size: 40px;
  background-color:rgb(218, 128, 50);
  color: rgb(17, 16, 15);
  text-align: center;
  border-radius: 20px;
  padding: 8px 0;
  position: absolute;
  z-index: 2;
  top:-50px;
  bottom:-100px;
  left:-600px;

}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: -70%;
  left: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(75, 21, 21) transparent transparent transparent;
} 

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

#footer{
background-color: #d3c2b5f0;
position:absolute;
top:418%;
width: 100%;
height: 300px;
}


#footer img:nth-of-type(1),img:nth-of-type(2),img:nth-of-type(3),img:nth-of-type(4){
  width: 55px;
  padding: 40px;
  position: relative;
  left:30%;
 
}
#footer a {
font-size: 20px;
display: inline-block;
padding:20px;
color: black;
position:relative;
top:-4px;
left:1%;


}
#footer img:nth-of-type(5),img:nth-of-type(6){
  position: relative;
  top:40%;
  right:25%;
  padding:1px 5px;
  margin: 20px;
width: 70px;

 
}
#footer p :nth-of-type(1){
  font-size: 20px;
  position: relative;
  top:30px;
  left:250%;
  color: black ;
  
}